.mainContainer {
  height: 100%;
  width: 100%;
  background-color:#3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoListBox {
  height : 600px;
  width: 800px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

.todoListInputContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
}

.todoListInputContainer a {
  font-size: 30px;
  font-weight: 600;
}


.todoListInputContainer input {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid;
  height: 30px;
  padding-left: 20px;
  width: 80%;
}

.todoListInputContainer button {
  height: 35px;
  width: 14%;
  background-color: #3b5998;
  border: 0;
  border-radius: 5px;
  margin-left: 15px;
  color: #FFFFFF;
  cursor: pointer;
}

.todoListFunctionsButtons {
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.todoListFunctionsButtons button {
  height: 35px;
  width: 40%;
  background-color: #3b5998;
  border: 0;
  border-radius: 5px;
  margin-left: 15px;
  color: #FFFFFF;
  cursor: pointer;
}

.todoListTotalContainer {
  margin-top: 15px;
  border-top: 1px solid grey;
  overflow-y: scroll;
  height: 70%;
}

.todoListContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.todoListContainer a {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.todoDeleteButton {
  height: 35px;
  width: 15%;
  background-color: #3b5998;
  border: 0;
  border-radius: 5px;
  margin-left: 15px;
  color: #FFFFFF;
  cursor: pointer;
}